<div class="animation_embed">
    <div id="credify_symbol__animation_container">
        <canvas id="credify_symbol__canvas"></canvas>
        <div id="credify_symbol__dom_overlay_container" >
        </div>
    </div>
</div>
