<div class="animation_embed">
    <div id="credify_icon3__animation_container">
        <canvas id="credify_icon3__canvas"></canvas>
        <div id="credify_icon3__dom_overlay_container" >
        </div>
    </div>
</div>
