<div class="aside__block aside--spaced bg--gray-neon">
    <h4>Priekšrocības</h4>
    <ul>
        <li>izdevīgi procenti</li>
        <li>nav nepieciešama ķīla</li>
        <li>brīva aizdevuma mērķa izvēle</li>
        <li>pieejams ārzemēs strādājošajiem</li>
        <li>līguma slēgšana internetā</li>
    </ul>
</div>

<div class="aside__block">
    <p class="icon-in-text">
        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--phone"></svg>
        <small class="text">Aizdevumam var pieteikties, ja esat 20 līdz 75 gadus vecs un Jums ir regulāri ienākumi.</small>
    </p>
</div>

<div class="aside__block aside--spaced bg--gray-neon">
    <h4>Sazinies ar mums</h4>

    <div class="icon-in-text">
        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--phone"></svg>
        <a class="dark" href="tel:62005555">6200&nbsp;5555</a>
    </div>
    
    <div class="icon-in-text">
        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--mail"></svg>
        <a class="dark" href="mailto:info@credify.lv">info@credify.lv</a>
    </div>
</div>
