<section class="section--partners section--spaced bg--gray-neon hide show-ls">
    <div class="row">
        <div class="col-md-12">
            <h5 class="muted"><small>SADARBĪBAS PARTNERI</small></h5>
        </div>

        <div class="col"><img src="assets/img/logos/image0.png" alt=""></div>
        <div class="col"><img src="assets/img/logos/image1.png" alt=""></div>
        <div class="col"><img src="assets/img/logos/image2.png" alt=""></div>
        <div class="col"><img src="assets/img/logos/image3.png" alt=""></div>
        <div class="col"><img src="assets/img/logos/image4.png" alt=""></div>
    </div>
</section>
