<section class="section--reviews section--spaced bg--gray-neon hide show-lg">
    <div class="row">
        <div class="col-xs-12">
            <h2>Atsauksmes</h2>
        </div>

        {% set list = [
            [
                'Vienkārši un ātri! Nav jāmeklē dažādi aizdevēji un jāpilda vairāki pieteikumi. Vienu reizi iesniedzu visus datus un uzreiz saņēmu vairākus piedāvājumus no kā izvēlēties.', 
                '— Kārlis, Rīga'
            ],[
                'Laba iespēja salīdzināt katra aizdevēja procentu likmes. Vismaz uzreiz redzu, vai nepārmaksāju par savu auto un varu salīdzināt katra aizdevēja prasības līgumam.', 
                '— Alīna, Valmiera'
            ],
        ] %}

        
        {% for item in list %}
        <div class="col-xs-6 card card--quote">
            <div class="card__content">
                <svg class="card--quote__bg-icon" viewBox="0 0 20 20"><use xlink:href="assets/img/icon-sprite.svg#quote"></svg>
                <p>{{item[0]}}</p>
                <p class="muted">{{item[1]}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
