<section class="section--contact-us bg--gray">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="h4">Sazinies ar mums</h4>
            
            <span class="h4 unbold">
                <svg class="inline" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--phone"></svg>
                <a class="" href="tel:62005555">6200&nbsp;5555</a>
            </span>
            
            <span class="h4 unbold">
                <svg class="inline" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--mail"></svg>
                <a class="" href="mailto:info@credify.lv">info@credify.lv</a>
            </span>
        </div>
    </div>
</section>
