{% set title = title|default('Pateriņa Kredīts') %}

<section class="section--main-banner section--spaced bg--pattern">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="light">{{title}}</h1>
        </div>
        {% if stats != false %}
        <div class="col-xs-6 col-md-3">
            <p class="muted no-space light">Summa līdz</p>
            <h4 class="light">15&nbsp;000&nbsp;EUR</h4>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="muted no-space light">Procenti no</p>
            <h4 class="light">5,9%&nbsp;gadā</h4>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="muted no-space light">Termiņš</p>
            <h4 class="light">3&nbsp;-&nbsp;84&nbsp;mēneši</h4>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="muted no-space light">Izskatīšanas laiks</p>
            <h4 class="light">no&nbsp;15&nbsp;min.</h4>
        </div>
        {% endif %}
    </div>

</section>
