<section class="section--main-banner section--spaced bg--pattern-lg">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <h1 class="light">Pirms aizņemies – salīdzini! <br class="hide-sm-only"> Nepiedzīvo vilšanos.</h1>
            <h3 class="light unbold hide-xs show-md">Vienkārša visu Latvijas vadošo aizdevēju <br> piedāvājumu salīdzināšana un izvēle.</h3>
        </div>

        <div class="col-lg-6 hide-xs show-lg">
            <div class="section--main-banner__image">
                {% include 'partials/animations/main-image.twig' %}
            </div>
            {# <img class="section--main-banner__image" src="assets/img/index-baner.png" alt=""> #}
        </div>
    </div>

    <div class="row list-grid">
        
        <ul>
            <li class="list-grid__item odd">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image" width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-paterina"></svg>
                    <div class="list-grid__content">
                        <h4>Patēriņa kredīts</h4>
                        <p class="muted hide show-md">Līdz 10 000 € / no 5,9% gadā</p>
                    </div>
                </div>
            </li>
            <li class="list-grid__item even">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image"  width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-parkred"></svg>
                    <div class="list-grid__content">
                        <h4>Pārkreditācija</h4>
                        <p class="muted hide show-md">Līdz 10 000 € / no 17,9% gadā</p>
                    </div>
                </div>
            </li>
            <li class="list-grid__item odd">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image"  width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-auto"></svg>
                    <div class="list-grid__content">
                        <h4>Kredīts auto iegādei</h4>
                        <p class="muted hide show-md">Līdz 50 000 € / no 5,5% gadā</p>
                    </div>
                </div>
            </li>
            <li class="list-grid__item even">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image"  width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-apvienosana"></svg>
                    <div class="list-grid__content">
                        <h4>Kredītu apvienošana</h4>
                        <p class="muted hide show-md">Līdz 10 000 € / no 17,9% gadā</p>
                    </div>
                </div>
            </li>
            <li class="list-grid__item odd">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image"  width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-remontam"></svg>
                    <div class="list-grid__content">
                        <h4>Kredīts remontam</h4>
                        <p class="muted hide show-md">Līdz 15 000 € / no 9,9% gadā</p>
                    </div>
                </div>
            </li>
            <li class="list-grid__item even">
                <div class="list-grid__item-contain">
                    <svg class="list-grid__image"  width="56" height="56"><use xlink:href="assets/img/icon-sprite.svg#ico--kred-nekust"></svg>
                    <div class="list-grid__content">
                        <h4>Kredīts nekustamā īpašuma iegādei</h4>
                        <p class="muted hide show-md">Līdz 15 000 € / no 9,9% gadā</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
