<section class="section--about section--spaced bg--gray">
    <div class="row">
        
        <div class="col-xs-12 text-center">
            <h3 class="unbold">
                <strong>Credify</strong> ir mūsdienīga platforma operatīvai Latvijas aizdevēju <br class="hide show-md"> piedāvājumu salīdzināšanai un izvēlei.
            </h3>
        </div>
        
        {% set list = [
                ['doc', 'Viens pieteikums – visi piedāvājumi', 'Uzrunā vadošos aizdevējus un saņem individuāli sagatavotus piedāvājumus'],
                ['pig', 'Bezmaksas risinājums', 'Piedāvājumu sagatavošana bez papildu maksas'],
                ['nolink', 'Bez saistībām', 'Pieteikuma aizpildīšana neuzliek saistības sadarboties ar kādu no aizdevējiem'],
                ['time', 'Noslēdz līgumu internetā', 'Salīdzini visus aizdevējus vienuviet un noslēdz līgumu internetā'],
                ['percent', 'Labākās procentu likmes', 'Izvērtē nosacījumus un izvēlies zemāko procentu likmi'],
                ['shield', 'Drošība', 'Sertificēta platforma, kas garantē starptautiskām banku prasībām atbilstošu datu drošību'],
        ] %}

        {% for item in list %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-xs-2 col-md-3 col-lg-2">
                    <svg class="" viewbox="0 0 44 44"><use xlink:href="assets/img/icon-sprite.svg#ico--{{item[0]}}"></svg>
                </div>
                <div class="col-xs-10 col-md-9 col-lg-10">
                    <p class="no-space"><strong>{{ item[1] }}</strong></p>
                    <p>{{ item[2] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</section>
