<section class="section--howto section--spaced">
    <div class="row">
        <div class="col-xs-12">
            <h2>Ar Credify saņem visu lielāko aizdevēju piedāvājumus vienuviet!</h2>
            <h2 class="unbold">Ātri, ērti un bez papildu maksas.</h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="badge--contain">
                {# <svg class="" width="146" height="146"><use xlink:href="assets/img/icon-sprite.svg#howto1"></svg>
                #}
                <div class="badge">1.</div> 
                {% include 'partials/animations/icon1.twig' %}
            </div>
            <div class="howto--text">
                <h3>Iesniedz bezmaksas pieteikumu</h3>
                <p class="muted">Nekādas slēptas komisijas maksas vai papildus izdevumi.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="badge--contain">
                {# <svg class="" width="146" height="146"><use xlink:href="assets/img/icon-sprite.svg#howto2"></svg>
                #}
                <div class="badge">2.</div> 
                {% include 'partials/animations/icon2.twig' %}
            </div>
            <div class="howto--text">
                <h3>Salīdzini un izvēlies izdevīgāko</h3>
                <p class="muted">Individuāli sagatavoti visu vadošo aizdevēju piedāvājumi.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="badge--contain">
                {# <svg class="" width="146" height="146"><use xlink:href="assets/img/icon-sprite.svg#howto3"></svg>
                #}
                <div class="badge">3.</div> 
                {% include 'partials/animations/icon3.twig' %}
            </div>
            <div class="howto--text">
                <h3>Saņem naudu savā kontā</h3>
                <p class="muted">Ātra izdevīgākā piedāvājuma izvēle. Izdevīgākās procentu likmes.</p>
            </div>
        </div>
    </div>
    <div class="row center-md">
        <div class="col-xs-12 col-md-6 hide-lg">
            <div class="btn-group btn-group--center">
                <a class="btn btn--yellow btn--wide">Meklēt piedāvājumus</a>
            </div>
        </div>
    </div>
    
</section>
