$font-size-base: 18 !default;


// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: $font-size-base;

@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  // @if (unitless($u-pixels)) {
  //   $u-pixels: $u-pixels * 1px;
  // }

  // @if (unitless($u-context)) {
  //   $u-context: $u-context * 1px;
  // }
  
  @return $u-pixels / $u-context * 1rem;
}
