
// Minxin Variables
// ------------------------------------------------------------
$full-gutter: 22;
$gutter: $full-gutter/2;

$xs-max: rem(320);
$sm-max: rem(680);
$md-max: rem(1200);
$lg-max: rem(1400);

$content-well-max-width: 1200px;



// Typography
// ------------------------------------------------------------

$font-family: 'Cera Pro', sans-serif;
$font-size-base: 18;
$line-height-base: 1.5;

$font-size-h1: rem(44);
$font-size-h2: rem(33);
$font-size-h3: rem(25);
$font-size-h4: rem(21);
$font-size-h5: rem($font-size-base);
$font-size-h6: rem($font-size-base);

$font-size-h1--sm: rem(44);
$font-size-h2--sm: rem(25);
$font-size-h3--sm: rem(21);
$font-size-h4--sm: rem(21);
$font-size-h5--sm: rem($font-size-base);
$font-size-h6--sm: rem($font-size-base);

$regular:  normal; $normal: normal;
$medium:    500;
$semi-bold: 600;
$bold:      700;


// Colors
// ------------------------------------------------------------

$black: #222222;
$white: #fff;
$white-darker: #F9F9F9;

$gray: #222222;
$gray-light: #E0E7ED;
$gray-lighter: #E7EDF2;
$gray-dark: #82858C;
$gray-neon: #F6F9FA;

$green: #10CFC9;
// $green: #2AD2C9;
$green-dark: #29AFA8;
$green-darkest: #299191;

$red: #E56A54;

$yellow: #FFDA00;


// Borders
// ========================================


// Animation
// ========================================

$bezier: cubic-bezier(.41,.39,.26,1);



// Positioning
// ========================================

$z-up-2: 1000;
$z-up-1: 100;
$z-base: 0;
$z-down-1: -100;
$z-down-2: -1000;
