.bg {

    &--green-gradient {
        background: linear-gradient(300.96deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 87.9%), #00B7AD;
    }

    &--pattern,
    &--pattern-lg {
        background: url(../img/gradient-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        // background: url(../img/vertical-waves.png), linear-gradient(300.96deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 87.9%), #00B7AD;
        // background-blend-mode: multiply, overlay, normal;
    }
    // &--pattern-lg {
    //     background: url(../img/gradient-bg--large.jpg);
    // }

    &--pattern-gray {
        background: url(../img/dark-gradient-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
        // background: url(../img/vertical-waves.png), $gray;
        // background-blend-mode: color-burn, normal;
    }

    &--gray {
        background: $gray-light;
    }

    &--gray-neon {
        background: $gray-neon;
    }


    &--yellow {
        background: $yellow;
    }
}
