* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  font-size: #{$font-size-base}px;

  @media #{$breakpoint-sm-down} {
    font-size: 16px
  }
}

body {
  font-family: $font-family;
  line-height: $line-height-base;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  margin: 0;

  font-size: 100%;
}

a {
  color: $green-darkest;
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:hover {
    // text-decoration: none;
  }
}

button {
  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: rgba($gray-light, 1);
  margin: rem(36) 0;
  clear: both;
}
