.btn {
    display: block;

    // min-height: rem(50);
    // min-width: rem(50);
    border: 1px solid $gray-light;

    color: $black;

    padding: rem(13) rem(18);

    border-radius: 3px;
    font-weight: $bold;

    line-height: 1;

    text-align: center;

    &__ico {
        display: inline-block !important;
        margin-right: rem(10);

        &--have-notext {
            margin-right: 0;
        }
    }

    &--yellow {
        border-color: $yellow;
        background-color: $yellow;
    }

    &--yellow-hollow {
        border-color: $yellow;
        background-color: rgba($yellow, .05);
    }

    &--green {
        border-color: $green;
        background-color: $green;
    }

    &--green-hollow {
        border-color: $green;
        background-color: rgba($green, .05);
    }

    &--gray-bd {
        border: 1px solid rgba($gray, .2);
    }

    &--close {
        padding: 0;
        text-align: center;
        font-weight: lighter;
        font-size: rem(33);
        line-height: rem(50);

        // font-weight: $normal;

        width: rem(50);
        height: rem(50);
    }

    &--wide {
        // padding-right: 3rem;
        // padding-left: 3rem;
        width: 100%;
    }

    &--round {
        border-radius: 100%;
        width: rem(50);
        height: rem(50);

        padding: rem(0);

        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &--detailed {
        border: 1px solid rgba($gray, .2);
        position: relative;
        text-align: left;

        padding: rem(19) rem(24) rem(16);

        &.is-active {
            background-color: $white;
        }

        &.has-alert {
            &:after {
                content: '';
                display: block;
                position: absolute;

                bottom: 0;
                right: rem(22);
                top: 0;

                height: 100%;
                width: 24px;

                background-image: url(../img/ico-alert.svg);
                background-repeat: no-repeat;
                background-position: center right;
            }
        }
    }

    &--barebones {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;

        font-weight: normal;
        color: $green-dark;

        white-space: nowrap;
    }

    &[disabled=disabled],
    &[disabled],
    &.disabled,
    &.is-disabled {
        // pointer-events: none !important;
        cursor: not-allowed;

        background: $gray-light !important;
        border: 1px solid $gray-light !important;
        color: rgba($black, .3) !important;


    }
}

button {
    outline: none !important;
}

.btn-group {

    > * {
        vertical-align: middle;
    }
    
    .btn {
        display: inline-block;
        margin-right: rem(10);
    }

    &--center {
        width: 100%;
        text-align: center;

        .btn {
            margin-right: rem(10);
            margin-left: rem(10);

            &:last-child {
                margin-right: rem(0);
            }
            
            &:first-child {
                margin-left: rem(0);
            }
        }
    }

    &--right {
        text-align: right;

        .btn {
            margin-right: 0;
            margin-left: rem(10);
        }
    }

    &--flex {
        display: flex;
        align-items: center;

        .btn {
            margin-right: 0;
            margin-left: 0;
        }

        .btn__spacer {
            width: 100%;
            flex-grow: 1;
        }
    }
}
