.footer {
    $special-inner-spacing: rem(13);
    padding-top: rem(80);
    padding-bottom: rem(80);

    &__col {

        &--address {
            margin-top: $special-inner-spacing;
        }
        &--contacts {
            margin-top: $special-inner-spacing;  
        }

        &--logo {
            text-align: right;
        }
    }

    &__logo {
        display: inline-block;
        width: rem(225);

        svg * {
            fill: $black !important;
        }
    }

    &__copyright-text {
        margin-top: $special-inner-spacing;
    }

    a {
        text-decoration: underline;
        color: $black;
    }

    @media #{$breakpoint-md-only} {
        .footer__col {
            margin-top: 0 !important;
        }
        
    }
    @media #{$breakpoint-sm-down} {
        text-align: center;


        .footer__col--logo {
            // margin-top: 1rem;
            text-align: center;
        }
    }
}
