form {
}

.form {
    &--spaced {
        margin-top: rem(50);
        padding-bottom: rem(80);
    }

    &__heading {

        margin-bottom: rem(50);

        &__wrap {
            display: flex;
            align-items: baseline;

            & > * {
                width: 100%;
            }
        }

        &__step_count {
            text-align: right;
        }

        &__line {
            display: block;
            width: 100%;
            height: 4px;

            border-radius: 14px;

            background-color: $gray-light;

            position: relative;

            overflow: hidden;

            & > .done {
                content: '';
                display: block;
                @include position(absolute, 0);

                background-color: $green;
            }
        }

    }

    &__group {
        margin-left: -1 * $gutter;
        margin-right: -1 * $gutter;
    }

    &__info {
        padding: rem(35);
        display: flex;
        align-items: center;

        background-color: $gray-neon;

        .icon {
            height: rem(44);
            margin-right: rem(22);
        }

        .btn-group {
            margin-top: rem(18);
        }
        
        &--small {
            padding: rem(22);

            .content {
                font-size: rem(14);
            }
        }

        &--with-title {
            display: block;

            .title {
                display: flex;
                width: 100%;
                vertical-align: middle;
                margin-bottom: rem(18);

                &:before {
                    content: '';
                    position: relative;

                    width: 25px;
                    height: 25px;

                    padding: 0px;

                    margin-right: rem(10);

                    background-image: url(../img/info.svg);
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: 22px;
                }

                > * {
                    margin-bottom: 0;
                    display: inline-block;
                }
            }
        }  
    }
}
