.form-repeater {
	width: 100%;

	&__item {
		display: flex;
		margin-left: -1 * $gutter;
        margin-right: -1 * $gutter;
		
		.col {
			width: 100%;
			flex: 1 1 auto;
		}
		
		.delete {
			width: rem(50+22);
			flex: 0 0 auto;
			
			input {
				width: rem(50);
			}
			
		}
	}

	@media #{$breakpoint-md-down} {

		&__item {
			flex-direction: column;
		}

		.col {
			width: 100%;

			.btn--close {
				width: 100%;

			}
		}

		.col.delete {
			label {
				display: none;
			}
		}
	}
}
