.form-slider {
    margin-bottom: rem(45);

    &:last-child {
        margin-bottom: 0;
    }

    &__heading {
        display: flex;
        align-items: baseline;
        
        .title {
            width: 100%;
            font-weight: $bold;
        }

        .value {
            text-align: right;
            width: rem(170);

            font-size: $font-size-h2;
            font-weight: $bold;

            border-bottom: 1px solid $gray-light;

            flex-shrink: 0;

            color: $green-dark;
        }

        .measure {
            margin-left: rem(14);
            font-size: 1rem;
        }
    }

    &__pin-contain {
        position: relative;
        margin-right: 14px; 

        .pin {
            @include position(absolute, null null 0px null);

            .circle {
                @include size(14px);
                background-color: $black;
                opacity: .2;
                border-radius: 14px;
                margin: 0;
                padding: 0;
            }
            svg {
                transform-origin: 50% 100%;
                transition: transform 100ms;
                fill: $green;
                margin-left: -8px;
                margin-bottom: -8px;
            }

            &:hover {
                svg {
                    transform: translate(0px,0px) rotate(10deg);
                }
            }
        }
    }

    &__footer {
        display: flex;
        align-items: baseline;

        .title {
            width: 100%;
            font-weight: $bold;

            flex-basis: 50%;
            flex-grow: 1;
        }

        .value {
            text-align: right;
            width: rem(170);
            font-size: rem(44);
            font-weight: $bold;
        }
        .measure {
            font-size: rem(25);
            margin-left: rem(14);
        }
    }

    &__slider-contain {
        position: relative;
        padding-top: rem(34);


        .line {
            width: 100%;
            height: 14px;
            border-radius: 14px;
            background-color: $gray-light;

            position: relative;

            // margin-top: rem(20);

            overflow: hidden;
        }
        .compleated {
            display: block;
            @include position(absolute, 0);
            border-radius: 14px;
            padding-right: 14px;
            background-color: $green;

            box-sizing: content-box;
        }

        &:before {
            content: '';
            display: block;
            @include size(100%,6px);
            @include position(absolute, null null (14px+10));
            background-image: url(../img/ruller.svg);
            background-size: 17px 6px;

        }
    }

    &--dark {

        .value {
            color: $green-darkest;
        }

        .pin {
            svg {
                fill: $green-darkest;
            }
        }

        .compleated {
            background-color: $green-darkest;
        }
    }
}
