.header {
    height: rem(124);

    a {
        display: block;
    }

    &__logo {
        width: rem(225);
        max-width: 100%;

        svg {
            max-width: 100%;
        }

        svg * {
            fill: $green;
        }
    }

    @media #{$breakpoint-md-down} {
        height: rem(90);

        .header__logo {
            width: rem(170);
        }
    }
}
