.icon-in-text {
    display: flex;
    align-items: center;

    margin-bottom: 0.3rem;

    .icon {
      display: block;
      margin-right: 10px;

      @include size(22px);

      flex-shrink: 0;
    }

    &--inline {
        display: inline-flex;
    }
}
