.list-grid {
    $grid-item-height: rem(100);

    ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        width: 100%;
    }

    li {
        display: flex;
        position: relative;

        // height: $grid-item-height;
        width: 50%;

        border: 1px solid fade-out($white, .8);


        &.odd {
            @include border-style(solid solid none none);
        }

        &.even {
            @include border-style(solid none none none);
        }

        &:nth-child(1), &:nth-child(2) {
            border-top: none;
        }
    }

    &__item {
        cursor: pointer;

        &:hover,
        &.is-active {

            .list-grid__item-contain {
                background-color: $white;
            }

            .list-grid__image {
                background-color: $gray-light;
            }
            .list-grid__content {
                p, h4 {
                    color: $gray;
                }
            }
        }
    }

    &__item-contain {
        @include size(100%);
        display: flex;
        
        padding: 1rem;

        border-radius: 4px;
    }

    &__image {
        @include size(rem(56));

        background-color: $white;
        border-radius: 100%;

        margin-right: rem(22);
        
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            margin: 0;
            color: $white;
        }

        p {
            margin: 0;
            padding: 0;

            font-size: rem(16);
            color: $white;
        }

        
    }

    @media #{$breakpoint-sm-down} {
        .list-grid {
            &__item-contain {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                text-align: center;
            }

            &__image {
                margin: rem(12);
            }
        }

        h4 {
            font-size: rem(14);
        }
    }
}
