.menu {
    line-height: 1;

    .is-active {
        border-bottom: 1px solid $black; 
    }

    /* Main menu items */
    li {
        display: flex;
        position: relative;
        align-items: center;

        padding: 0 rem(22);

        flex-shrink: 0;

        /* Space out the links */
        a {
            display: block;
            // word-break: keep-all;
            white-space: nowrap;

            color: $gray;
            font-weight: $bold;

            border-bottom: 1px solid rgba($black, 0);
        }

        &.has-submenu {
            // padding-right: rem(22+22);
            
            &:after {
                content: '';
                display: block;

                margin-left: rem(10);
                
                @include position(relative,null);

                width: rem(16);
                height: rem(22);

                background: url(../img/accordion-arrow.svg);
                background-size: 16px 8px;
                background-repeat: no-repeat;

                background-position: center;
                
                transform-origin: center;
                transition: transform 200ms;
            }
        }

        /* Hide sub menus & sub-sub menus
        * Position *underneath* originating li (see ul ul below) */
        ul, ul ul {
            display: none;
            position: absolute;
            z-index: 999;
            top: 100%;
            left: 0;

            background-color: $white;

            padding-top: rem(21) ;
            padding-bottom: rem(21) ;
            // width: 12em;
            // @include box-shadow (-5px 5px 10px rgba(0,0,0,.5));
        }

        /* Position sub-subs to right of parent li */
        ul ul {
            left:100%;
            top: 0;
        }

        /* Make sub & sub-sub li's fill parent ul
        * Add feint border to bottom to separate items */
        li {
            display: block;
            margin-bottom: rem(5);

            a {
                padding: rem(3) 0;
            }
        }
    }

    /* Highlight li on hover */
    li:hover {

        opacity: 1;

        /* Change anchor colour to highlighted text */
        > a:not(.btn) {
            background: none;

            border-bottom: 1px solid $black;
        }

        /* Display subs and sub-subs on parent hover */
        > ul {
            display: block;
        }

        &:after {
            transform: rotate(-180deg);
        }

    }

    /* Don't display menus further than 3 deep in ul tree */
    ul ul ul li:hover ul {
        display: none;
    }

    /* Make sure no padding & margins round <ul>s.
     * Very likely to have been set in CSS for rest of site */
    ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
    }
    
    &--languages {
        .is-active {
            opacity: 1;
        }

        li {
            padding: 0 rem(22/2);
            a {
                opacity: .5;
                border: none !important;
                font-size: rem(14);
                
            }
        }
    }
}

@media #{$breakpoint-md-down} {
    .mobile-menu__sidemenu nav.menu {
        

        background-color: $gray-neon;
        height: 100%;

        padding: rem(23) rem(32);
    
        li {
            display: block;
            padding: 0 rem(10);

            margin-top: rem(12);
            margin-bottom: rem(12);
    
            a {
                display: inline-block;
            }

            &.has-submenu {

                > a:after {
                    content: '';
                    display: block;

                    margin-left: rem(10);
                    
                    position: absolute;
                    top: 2px;
                    right: rem(-30);

                    width: rem(16);
                    height: rem(22);

                    background: url(../img/accordion-arrow.svg);
                    background-size: 16px 8px;
                    background-repeat: no-repeat;

                    background-position: center;
                    
                    transform-origin: center;
                    transition: transform 200ms;

                    z-index: 9999;
                }

                a {
                    position: relative;   
                }
                
                &:after {
                    display: none;
                }
            }

            &:last-child {
                padding-bottom: 0;
            }

            ul {
                height: 0;
                overflow: hidden;

                a {
                    color: $green-darkest;
                }
            }
        }

        li.is-open {
            
            ul {
                height: auto;
            }
            
            &.has-submenu {
                > a:after {
                    transform: rotate(-180deg);
                }
            }
        }

        ul {
            flex-direction: column;
        }

        ul, ul ul {
            display: block;
            position: relative;

            background-color: transparent;

            padding: 0 0 rem(10) rem(12);
        }
    }
}
