.offers-item {

    border: 1px solid $gray-light;
    border-radius: 4px;
    // overflow: hidden;

    .contain {
        display: flex;
    }

    svg {
        fill: $green-darkest;
    }

    &__col {
        display: inline-block;
        border-left: 1px solid $gray-light;
        padding: rem(28) rem(23);

        width: 100%;

        small {
            margin-top: rem(5);
            display: block;
            font-weight: $normal;
        }

        h5 {
            margin-bottom: 0;
        }


        &--logo {
            width: rem(100);
            width: 10%;

            border-left: none;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: rem(9);

            flex-shrink: 0;

            img {
                width: 100%;
            }
        }

        &--offersum {
            width: 19%;
        }

        &--term {
            width: 15%;
        }

        &--payment {
            width: 19%;
        }

        &--percent {
            width: 15%;
        }

        &--buttons {
            width: 22%;
            flex-shrink: 0;

            // padding-left: rem(9);
            padding-right: rem(28);
            
            display: flex;
            align-items: center;
            justify-content: center;
            // .btn-group {
            //     display: inline-block;
            // }

            // > * {
            //     vertical-align: middle;
            // }
        }

        &--pending {
            width: 54%;
            
            small, svg {
                vertical-align: middle;
                display: inline;
            }

            svg {
                height: 51px;
                margin-right: rem(5);
            }
        }

        &--moreinfo {
            width: 70%;

            h5 {
                font-size: rem(14);
            }

            small {
                font-size: rem(14);
            }

            // svg {
            //     height: 51px;
            //     margin-right: rem(5);
            // }
        }
    }
    
    &--labeled {
        position: relative;

        .offers-item__col {
            background-color: $gray-neon;

            h5, small {
                color: $green-darkest;
            }
        }

        .label {
            $label-width: 26;
            @include position(absolute, null);
            top: -1px;
            bottom: -1px;

            left: rem($label-width * -1);
            width: rem($label-width + 3px);

            background-color: $green;

            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;

            z-index: $z-down-1;

            border-radius: 4px;
            border-left: 1px solid $green;
            overflow: hidden;
            
            span {
                display: inline-block;
                transform-origin: center center;
                transform: rotate(-90deg) ;

                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;

                font-weight: $bold;
                color: $white;

                padding-bottom: 3px;
            }
        }    
    }

    &--denied {
        .offers-item__col--logo * {
            opacity: .5;
        }
    }

    &--need-more-info {
        border-color: $green;
    }

    &--double {
        // padding-left: 10%;
        position: relative;
        
        .offers-item__col { 
            border-top: 1px solid $gray-light;
        }
        .offers-item__col--logo {
            opacity: 0;
        }

        &__image_contain {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 10%;

            .offers-item__col--logo {
                width: 100%;
                height: 100%;
                opacity: 1;
                border-top: none;
            }
        }

        &__primary_offer {
            .offers-item__col {
                background-color: $gray-neon;
                border-top: none;

                h5, small {
                    color: $green-darkest;
                }
            }
        }
    
        .contain:not(&__primary_offer) {
            .btn--yellow {
                @extend .btn--yellow-hollow;
            }
        }
    }
}



@media #{$breakpoint-md-down} { .offers-item {
    .contain {
        position: relative;
        flex-direction: column;
        // padding: rem(10) 0 rem(20);
        
        &:first-child {

            .offers-item__col {
                border-left: none;
            }
        }
    }

    &__col {
        text-align: center;
        width: 100%;
        padding: rem(12) rem(5);

        &--logo {
            height: rem(120);
            border-bottom: 1px solid $gray-light;

            img {
                width: auto;
            }
        }
        
        &--offersum {
            padding-top: rem(20);
        } 
         
        &--buttons {
            padding-bottom: rem(28);
        }

    }

    &--labeled {
        .label {
            top: 0px;
            bottom: auto;
            left: 0;

            height: rem(120);

            z-index: 999;
            border-radius: 4px 0 0 0;
        }
    }

    &--double {
        display: flex;
        flex-wrap: wrap;
        
        .offers-item__col { 
            border-top: none;
        }
        .offers-item__col--logo {
            display: none;
        }

        &__image_contain {
            position: relative;
            width: 100%;
            height: rem(120);

            .offers-item__col--logo {
                display: flex;
            }
        }
        
        &__primary_offer {
            .offers-item__col {
                border-left: none;
            }
        }

        .contain {
            width: 50%;
        }
    }
    
    .tool-tip {
        position: absolute;
        
        right: rem(20);
        bottom: rem(40);
    }
}}

@media #{$breakpoint-sm-only} { .offers-item {

    &--double {
        
        .contain {
            width: 100%;
        } 
    }

}}
