section {
    padding: 1rem;
}

.section {
    &--spaced {
        padding-top: rem(90);
        padding-bottom: rem(90);
    }

    &--divided {
        border-bottom: 1px solid $gray-light;
    }

    &--basic {
        padding-top: rem(28);
        padding-bottom: rem(28);
    }

    &--main-banner {
        padding-bottom: rem(50);

        &__image {
            width: 100%;
            padding: 2rem;
        }

        h3 {
            margin-bottom: rem(60);
        }
    }

    &--contact-us {
        text-align: center;

        * {
            vertical-align: middle;
        }
        
        .h4 {
            margin: rem(38/2);
            line-height: 24px;
        }

        a {
            color: $black;
        }

        svg {
            margin-right: rem(14);
        }

        @media #{$breakpoint-sm-down} {
            text-align: center;

            .h4 {
                margin: rem(12) auto;
                display: block;
            }
        }
    }

    &--partners {
        text-align: center;
        padding: rem(43);
    }

    &--howto {
        text-align: center;

        h2 {
            // margin: 0;
        }
        
        .badge--contain {
            margin-top: rem(53);
            margin-bottom: rem(46);
        }

        .animation_embed {
            max-width: 80%;
            margin: auto;
        }

        @media #{$breakpoint-sm-down} {

            .col-sm-12 {
                margin-top: rem(30);
                display: flex;
                flex-direction: row;
            }

            .howto--text {
                text-align: left;
            }

            .badge--contain {
                margin: 0;
                margin-right: rem(30);
                min-width: rem(130)
            }

            h2.unbold {
                font-size: rem(21);
            }

            .animation_embed {
                max-width: 95%;
            }
        }
    }

    &--about {

        h3 {
            text-align: center;
        }

        img,
        canvas {
            width: 100%;
        }

        .col-xs-3 {
            position: relative;
            display: flex;
            justify-content: flex-end;
        }

        @media #{$breakpoint-md-down} {
            img,
            canvas {
                position: absolute;
                top: 1rem;
                right: 1rem;

                width: 278px !important;
                height: 278px !important;
            }
        }
    }

    &--contacts {
        color: $white;
        
        strong {
            margin-bottom: rem(5);
        }

        p,
        strong,
        a {
            font-size: rem(16);
        }
        
    }

    &--login {
        > .row {
            max-width: rem(370+18+18)
        }
    }
}
