.tool-tip {
    position: relative;
    display: inline-block;

    height: 22px;

    text-align: left;

    * {
        font-size: rem(14);
    }

    &__contain {
        display: none;
        
        position: absolute;
        z-index: 1000;

        background-color: $green-darkest;
        color: $white;

        padding: rem(20);

        border-radius: 4px;
        top: 0;
        left: 0;

        width: rem(300);

        transform: translate(-100%, rem(-20+3) );
        transition: left 200ms, display 200ms;
        

        &::before {
            position: absolute;
            top: rem(20);
            right: -7px;
            @include triangle("right", 8px, 16px, $green-darkest);
            content: "";
        }
    }

    &__animation {
        left: rem(-10);
        top: rem(-10);
        position: absolute;
        z-index: 1000;
        transition: left 200ms, opacity 200ms;
        opacity: 0;
    }

    &:hover {

        .tool-tip__animation {
            top: rem(0);
            left: rem(-20);
            opacity: 1;
        }

        .tool-tip__contain {
            display: block;
            
        }

        .icon {
            fill: $gray !important;
        }
    }
}
