<div class="offers-item {{ (label) ? 'offers-item--labeled' }} {{ (moreinfo) ? 'offers-item--need-more-info' }} {{ (denied) ? 'offers-item--denied' }}">
    
    <div class="contain">
        <div class="offers-item__col offers-item__col--logo">
            <img src="assets/img/logos/image0.png" alt="">
        </div>
        
        {% if pending %}
            <div class="offers-item__col offers-item__col--pending">
                <svg width="22"><use xlink:href="assets/img/icon-sprite.svg#ico-question"></svg>
                <small class="muted">Pietekums tiek izskatīts</small>
            </div>
            <div class="offers-item__col offers-item__col--percent">
                <h5>
                    <small class="muted">Vidējā % likme</small>
                    29.0-46.0%
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--buttons">
                <h5>
                    <small class="muted">Notiek papildu izskatīšana</small>
                </h5>
            </div>
        {% elseif moreinfo %}
            <div class="offers-item__col offers-item__col--moreinfo">
                <h5>
                    Nepieciešamā informācija:
                    <small class="muted">- cita Jūsu rīcībā esošā bankas konta pārskats </small>
                    <small class="muted">- vēl cits iemesls </small>
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--buttons">
                
                <div class="btn-group btn-group--right">
                    <a href="#" data-open-modal="add-new-overview-modal" class="btn btn--yellow-hollow">Pievienot pārskatu</a>
                </div>
            </div>
        {% elseif denied %}
             <div class="offers-item__col offers-item__col--denied">
                <h5>
                    <small class="muted">Patēriņa kredīts nav pieejams pie šī aizdevēja</small>
                </h5>
            </div>
        {% else %}
            <div class="offers-item__col offers-item__col--offersum">
                <h5>
                    <small class="muted">Piedāvātā summa</small>
                    {{sum|default('€ 7000.00')}}
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--term">
                <h5>
                    <small class="muted">Termiņš</small>
                    {{term|default('24 mēn.')}}
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--payment">
                <h5>
                    <small class="muted">Maksājums</small>
                    {{payment|default('100 EUR/mēn.')}}
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--percent">
                <h5>
                    <small class="muted">Procentu likme</small>
                    {{percent|default('17.0%')}}
                </h5>
            </div>
            <div class="offers-item__col offers-item__col--buttons">
                
                <div class="btn-group btn-group--right">
                    <div class="tool-tip">
                        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico-info"></svg>
                        <div class="tool-tip__animation">
                            <div class="tool-tip__contain">
                                <p>Procentu likme: <b>17%</b></p>
                                <p>Gada procentu likme: <b>2%</b></p>
                                <p>Izsniegšanas komisijas maksa: <b>5%</b></p>
                                <p>Administrēšanas maksa: <b>5 EUR/mēn.</b></p>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn btn--yellow">Saņemt naudu</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% if label %}
        <div class="label">
            <span>{{label|default('iesakām')}}</span>
        </div>
    {% endif %}
</div>
