<footer class="footer bg--gray">
    <div class="row">
        <div class="col-xs-12 col-md-8 row">
            <div class="col-sm-12 col-lg-6 footer__col footer__col--address">
                <p>
                    <strong>SIA Safegate Technologies</strong> <br>
                    Krišjāņa Valdemāra iela 38, <br>
                    Rīga, LV-1010, Latvija <br>
                </p>
            </div>
            <div class="col-sm-12 col-lg-6 footer__col footer__col--contacts">
                <p class="no-space hide show-lg">&nbsp;</p>
                <p class="no-space">E-pasts: <a href="mailto:info@credify.lv">info@credify.lv</a></p>
                <p class="no-space">Tel.: <a href="tel:+37162005555" title="">+371&nbsp;6200&nbsp;5555</a></p>

            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="col-sm-12 footer__col footer__col--logo">
                <div class="footer__logo">
                    <svg width="225" height="44" viewbox="0 0 225 44"><use xlink:href="assets/img/icon-sprite.svg#logo"></svg>
                </div>
                <p class="footer__copyright-text">© 2018 SIA Safegate Technologies</p>
            </div>
        </use>
    </div>
</footer>
