<header class="header row middle-xs">

    <div class="col col-no-gutter">
        <div class="row middle-xs">
            
            <div class="col">
                <div class="header__logo">
                    <a href="/"><svg width="225" height="44" viewbox="0 0 225 44"><use xlink:href="assets/img/icon-sprite.svg#logo"></svg></a>
                </div>
            </div>

            <nav class="col menu menu--languages">
                <ul>
                    <li><a class="is-active" href="#">LV</a></li>
                    <li><a href="#">RU</a></li>
                </ul>
            </nav>
            
            <div class="col"></div>
        </div>
    </div>


    <div class="col-xs-2 col-no-gutter hide-lg">
        <div class="mobile-menu__open_button" data-open-mobilemenu>
            <svg width="22" height="16" viewBox="0 0 22 16"><use xlink:href="assets/img/icon-sprite.svg#mobile-menu"></svg>
        </div>
    </div>

    <div class="col col-no-gutter mobile-menu__sidemenu">
        <div class="mobile-menu__header">
            <a class="btn btn--yellow btn--round" href="/tavi-piedavajumi.html">
                <div class="btn__ico btn__ico--have-notext"><svg width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-user"></svg></div>
            </a>

            <button class="mobile-menu__close_btn" data-close-mobilemenu aria-label="Close" type="button">&times;</button>
        </div>

        <nav class="menu">
          <ul>
            <li class="has-submenu is---open"><a class="is-active">Aizdevumi</a><i></i>
              <ul>
                <li><a href="/paterina-kredits-1.html">Pateriņa Kredīts (step 1)</a></li>
                <li><a href="/paterina-kredits-2.html">Pateriņa Kredīts (step 2)</a></li>
                <li><a href="/paterina-kredits-3.html">Pateriņa Kredīts (step 3)</a></li>
              </ul>
            </li>
            <li><a href="/about.html">Par Credify</a></li>
            <li><a href="/faq.html">BUJ</a>
            <li><a data-open-offcanvas="offcanvas--contacts" data-close-mobilemenu>Kontakti</a></li>
            
            <li class="hide show-lg"><a class="btn btn--yellow" href="/login.html">
                <div class="btn__ico"><svg width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-user"></svg></div>
                Ienākt
            </a></li>
            <li class="hide show-lg"><a class="btn btn--yellow btn--round" href="/tavi-piedavajumi.html">
                <div class="btn__ico btn__ico--have-notext"><svg width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-user"></svg></div>
            </a></li>
          </ul>
        </nav>
    </div>

    <div class="mobile-menu__backdrop" data-close-mobilemenu></div>

    {# <div class="nav mobile-menu__sidemenu">
        
    </div> #}

</header>
