<meta charset="utf-8">
<title>Credify</title>

<meta name="description" content="credify description">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="manifest" href="site.webmanifest"> -->
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="assets/css/main.css">

<meta name="theme-color" content="#fafafa">
