<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

<script src="assets/js/min/vendor.js"></script>
<script src="assets/js/min/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
