{% set id = 'input-' ~ random() %}
{% set type = type|default('text') %}
{% set label = label|default('&nbsp;') %}

<div class="input__group">
    <label for="{{id}}">{{label}}</label>
    <input id="{{id}}" class="{{(suffix)?'input--has-suffix'}}" type="{{type}}" placeholder="">
    {% if suffix %}
        <span class="suffix">{{suffix}}</span>
    {% endif %}
</div>
