<form action="" class="form--spaced">
    
    <div class="form__heading">
        <div class="form__heading__wrap">
            <h2>Pieteikums</h2>
            <div class="form__heading__step_count">solis 2/3</div>
        </div>
        <div class="form__heading__line">
            <span class="done" style="width:{{100 / 3 * 2}}%"></span>        
        </div>
    </div>

    <div class="form__group">
        <div class="row">
            <div class="col-xs-12">
                <h5>Personīgā informācija</h5>
            </div>
            
            <div class="col-xs-12">
                <p>Cien. Ernests Paraudziņš</p>
                <p>Pēc Jūsu sniegtās informācijas sākam izskatīt Jūsu aizdevuma pieprasījumu. </p>
                <p>Lai varētu labāk izvērtēt Jūsu aizdevuma nosacījumus, lūdzu augšupielādējiet sava bankas konta pārskatu (PDF faila formātā) par pēdējiem 6 mēnešiem, uzrādot visus ienākošos un izejošos maksājumus. </p>
            </div>
        </div>
    </div>
    <hr>

    <div class="form__group">
        <div class="row">
            <div class="col-xs-12 col-lg-6 ">
                {% include 'partials/content/form/field--radio.twig' with {label:'Pievienot PDF failu'} %}
            </div>
            <div class="col-xs-12 col-lg-6">
                {% include 'partials/content/form/field--radio.twig' with {label:'Nevēlos pievienot konta pārskatu'} %}
            </div>
            <div class="col-xs-12 col-lg-6">
                {% include 'partials/content/form/field--radio.twig' with {label:'Nepieciešama palīdzība'} %}
            </div>
        </div>
    </div>

    <div class="form__group">
        <div class="row">
            <div class="col col-xs-12">
                {% include 'partials/content/form/field--file.twig' with {label:'Sagatavojiet sava bankas konta pārskatu PDF formātā par periodu: XXXXX – XXXXX'} %}
            </div>
        </div>
    </div>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                <div class="form__info form__info--with-title">
                    <div class="title">
                        <h4>Brīdinājums!</h4>
                    </div>
                    <div class="content">
                        Bez konta pārskata maksimālā pieejamā summa 2000 EUR ar paaugstinātu procentu likmi. Aicinām spiest pogu ''Atcelt'' un pievienot konta pārskatu, lai varam Jums piemērot procentu likmi no 5,9% gadā.
                    </div>
                    <div class="btn-group">
                        <button class="btn btn--yellow-hollow">Atcelt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                <div class="form__info form__info--with-title">
                    <div class="title">
                        <h4>Paziņojums</h4>
                    </div>
                    <div class="content">
                        <p>Ja Jums ir jautājumi par konta pārskata sagatavošanu, lūdzam zvanīt uz bezmaksas numuru 80000303. </p>
                        <p>Vai arī variet pieteikt mūsu speciālista atzvanu un mēs ar Jums sazināsimies tuvākajā laikā.</p>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn--yellow">
                            <div class="btn__ico"><svg width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-phone"></svg></div>
                            Pieteikt atzvanu
                        </button>
                        <button class="btn btn--yellow-hollow">Atcelt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="form__group ">
        <div class="row">
            <div class="col "></div>
            <div class="col col-xs-12 col-md-6 col-lg-4">
                <button class="btn btn--yellow btn--wide" disabled>Turpināt</button>
            </div>
        </div>
    </div>

</form>






