<form action="" class="form--spaced">
    
    <div class="form__heading">
        <div class="form__heading__wrap">
            <h2>Pieteikums</h2>
            <div class="form__heading__step_count">solis 1/3</div>
        </div>
        <div class="form__heading__line">
            <span class="done" style="width:{{100/3}}%"></span>        
        </div>
    </div>

    <div class="card">
        <div class="card__content">
            
            <div class="form-slider">
                <div class="form-slider__heading">
                    <div class="title">Aizdevuma summa</div>
                    <div class="value">
                        6500<span class="measure">EUR</span>        
                    </div>
                </div>
                <div class="form-slider__slider-contain">
                    <div class="line">
                        <div class="compleated" style="width: 100%"></div>
                    </div>
                </div>
                <div class="form-slider__pin-contain" style="transform: translate(100%);">
                    <div class="pin"><svg class="" width="32" height="32"><use xlink:href="assets/img/icon-sprite.svg#calc-pin"></svg><div class="circle"></div></div>
                </div>
            </div>

            <div class="form-slider form-slider--dark">
                <div class="form-slider__heading">
                    <div class="title">Termiņš</div>
                    <div class="value">
                        72<span class="measure">mēn.</span>        
                    </div>
                </div>
                <div class="form-slider__slider-contain">
                    <div class="line">
                        <div class="compleated" style="width: 150px"></div>
                    </div>
                </div>
                <div class="form-slider__pin-contain" style="transform: translate(150px);">
                    <div class="pin"><svg class="" width="32" height="32"><use xlink:href="assets/img/icon-sprite.svg#calc-pin"></svg><div class="circle"></div></div>
                </div>
            </div>

            <div class="card__footer ">
                <div class="form-slider__footer">
                    <div class="title">
                        <h3>Ikmēneša maksājums</h3>
                    </div>
                    <div class="value">
                        117.64<span class="measure">EUR</span>        
                    </div>
                </div>
                <p class="muted"><small>Kredītu kalkulatoram ir informatīva nozīme. <a class="dark" href="#">Aprēķina piemērs.</a></small></p>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="form__group">
        <div class="row">
            <div class="col-xs-12">
                <h5>Personīgā informācija</h5>
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Vārds'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Uzvārds'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'JŪsu e-pasts'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'E-PASTS ATKĀRTOTI'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Tālrunis'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Personas kods'} %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                <h5>Ienākumi un kredītsaistības</h5>
            </div>
            <div class="col-xs-12 form-repeater">
                <div class="form-repeater__item">
                    <div class="col">
                        {% include 'partials/content/form/field--dropdown.twig' with {label:'Ienākumu veids'} %}
                    </div>
                    <div class="col">
                        {% include 'partials/content/form/field--input.twig' with {label:'Summa', suffix:'eur'} %}
                    </div>
                    <div class="col delete">
                        <label for="">&nbsp;</label>             
                        <a href="" class="btn btn--yellow-hollow btn--close">&times;</a>
                    </div>
                </div>
                <div class="form-repeater__add">
                    <a href="#">Pievienot ienākumus</a>
                </div>
            </div>
            <div class="col-xs-12">
                {% include 'partials/content/form/field--input.twig' with {label:'Piekrītu manu datu apstrādei saskaņā ar datu apstrādes noteikumiem.', suffix:'eur'} %}
            </div>
            <div class="col-xs-12">
                <br>
                {% include 'partials/content/form/field--checkbox.twig' with {label:'Esošo kredītsaistību ikmēneša kopējais maksājums'} %}
            </div>
            <div class="col-xs-12">
                {% include 'partials/content/form/field--checkbox.twig' with {label:'Piekrītu saņemt Credify piedāvājumus un informāciju.'} %}
                <br>
            </div>
        </div>
    </div>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                <div class="form__info form__info--small">
                    <div class="icon"><svg viewbox="0 0 44 44" width="44" height="44"><use xlink:href="assets/img/icon-sprite.svg#ico--shield2"></svg></div>
                    <div class="content">
                        Garantējam Jūsu personīgo datu drošību un to neizpaušanu trešajām pusēm bez Jūsu piekrišanas. Latvijas Republikas Datu Valsts Inspekcijas apstrādes reģistrācijas Nr. 004770.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form__group ">
        <div class="row">
            <div class="col "></div>
            <div class="col col-xs-12 col-md-6 col-lg-4">
                <button class="btn btn--yellow btn--wide">Turpināt</button>
            </div>
        </div>
    </div>

</form>






