<form action="" class="form--spaced">
    
    <div class="form__heading">
        <div class="form__heading__wrap">
            <h2>Pieteikums</h2>
            <div class="form__heading__step_count">solis 3/3</div>
        </div>
        <div class="form__heading__line">
            <span class="done" style="width:{{100 / 3 * 3}}%"></span>        
        </div>
    </div>

    <div class="form__group">
        <div class="row">
            <div class="col-xs-12">
                <h5>Personīgā informācija</h5>
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Dzīvesvietas veids'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Dzimums'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Ģimenes stāvoklis'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Apgādājamie'} %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                <h5>Pēdējās darba vietas informācija</h5>
            </div>
            <div class="col-xs-12">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Nodarbošanās veids'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Darba uzsākšanas Mēnesis'} %}
            </div>
            <div class="col-xs-12 col-md-6">
                {% include 'partials/content/form/field--input.twig' with {label:'Darba uzsākšanas gads'} %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form__group ">
        <div class="row">
            <div class="col-xs-12">
                {% include 'partials/content/form/field--dropdown.twig' with {label:'Kā uzzinājāt par Credify?'} %}
            </div>
        </div>
    </div>

    <hr>

    <div class="form__group ">
        <div class="row">
            <div class="col "></div>
            <div class="col col-xs-12 col-md-6 col-lg-4">
                <button class="btn btn--yellow btn--wide">Saņemt piedāvājumus</button>
            </div>
        </div>
    </div>

</form>






