{% extends "layout/layout.twig" %}
{% block page %}
    {% include 'partials/content/section_inner_banner.twig' with {stats: false, title: 'Par Credify'} %}
    <section class="section--about section--spaced bg--gray-neon">
        <div class="row">
            <div class="col">
                <h3 class="unbold text-left">Credify apvieno vairāk nekā 10 gadu pieredzi finanšu jomā ar unikāliem tehnoloģiskajiem risinājumiem, piedāvājot modernākos un drošākos aizdevumu brokeru pakalpojumus sadarbībā ar Latvijas uzticamākajiem aizdevējiem.</h3>
            </div>
            <div class="col-xs-1 col-md-1"></div>
        </div>
    </section>
    <section class="section--about section--spaced">
        <div class="row">
            <div class="col-xs-3 col-lg-2">
                {% include 'partials/animations/credify_symbol.twig' %}
            </div>
            <div class="hide show-lg col-lg-1"></div>
            <div class="col-xs-9 col-lg-9">
                <p>Mūsu unikālā interneta platforma bez maksas sniedz vienkāršu veidu, kā taupīt Jūsu laiku un pieņemt pārdomātus lēmumus. Salīdziniet dažādu aizdevēju piedāvājumus, lai izvēlētos izdevīgāko risinājumu savu plānu īstenošanai vai negaidītiem tēriņiem.</p>
                <p>Tas ir vienkārši un droši - aizpildot tikai vienu pieteikumu par sev nepieciešamo aizdevumu, Jūs saņemsiet visu aizdevēju piedāvājumus vienuviet. Turklāt katru reizi tiek sniegti individuāli izstrādāti piedāvājumi, kuru nosacījumi paliek nemainīgi visa līguma noslēgšanas procesa laikā.</p>
                <p class="bold">Credify ir mūsdienīga platforma operatīvai Latvijas aizdevēju piedāvājumu salīdzināšanai un izvēlei.</p>
                    <ul>
                        <li>Individuāli sagatavoti visu vadošo aizdevēju piedāvājumi</li>
                        <li>Ātra izdevīgākā piedāvājuma izvēle un līguma noformēšana internetā</li>
                        <li>Izdevīgākās procentu likmes</li>
                        <li>Nekādas slēptas komisijas maksas vai papildus izdevumi</li>
                    </ul>
            </div>
        </div>
    </section>
{% endblock %}
