{% extends "layout/layout.twig" %}
{% block page %}
    {% include 'partials/content/section_inner_banner.twig' with {stats: false, title: 'Biežāk uzdotie jautājumi'} %}
    {% include 'partials/content/section__qna.twig' with {title: false} %}
{% endblock %}
