{% extends "layout/layout.twig" %}

{% block page %}
  {% include 'partials/content/section_index_banner.twig' %}
  {% include 'partials/content/section_index_contact.twig' %}
  {% include 'partials/content/section_index_partners.twig' %}
  
  {% include 'partials/content/section_index_howto.twig' %}
  {% include 'partials/content/section_index_about.twig' %}

  {% include 'partials/content/section__qna.twig' %}
  {% include 'partials/content/section_index_reviews.twig' %}

{% endblock %}
