{% extends "layout/layout.twig" %}
{% block page %}
    
<section class="section--login section--spaced bg--gray-neon">
    <div class="row">
        <div class="col-xs-12">
            <h2>Autorizācija</h2>
        </div>

        <div class="col-xs-12">
            <p>Pieejas dati Credify sistēmai tiek nosūtīti uz Jūsu e-pastu pēc aizdevuma pieteikuma aizpildīšanas.</p>
        </div>
        
        <div class="col-xs-12">
            <form action="" class="">
                <div class="form__group">
                    <div class="row">
                        <div class="col-xs-12">
                            {% include 'partials/content/form/field--input.twig' with {label:'E-pasta adrese'} %}
                        </div>
                        <div class="col-xs-12">
                            {% include 'partials/content/form/field--input.twig' with {label:'Parole', type:'password'} %}
                        </div>
                    </div>
                </div>

                <div class="form__group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group--flex">
                                <a class="btn btn--yellow">Ienākt</a>
                                <span class="btn__spacer"></span>
                                <a class="btn btn--barebones">Aizmirsāt paroli?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}
