{% extends "layout/layout.twig" %}

{% block page %}
  {% include 'partials/content/section_inner_banner.twig' %}
  
  <section class="section--basic section--spaced section--divided">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            {% include 'partials/content/form/step_2.twig' %}
        </div>
        <aside class="col-xs-12 col-lg-4">
            {% include 'partials/content/aside_content.twig' %}
        </aside>
    </div>
  </section>
  
  {% include 'partials/content/section__qna.twig' %}

{% endblock %}
