{% extends "layout/layout.twig" %}

{% block page %}
  {% include 'partials/content/section_inner_banner.twig' %}
  
  <section class="section--basic section--spaced section--divided">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <p>Izmantojiet patēriņa kredītu, lai saņemtu papildu līdzekļus plānotiem un arī negaidītiem izdevumiem. Tie var būt lielāki pirkumi, mājokļa labiekārtošana, ceļojums vai citi Jums aktuāli mērķi.</p>
            <p>Šis aizdevums tiek izsniegts bez ķīlas un ir izdevīgāks, nekā ātrie īstermiņa aizdevumi, jo piedāvā zemāku procentu likmi.</p>

            {% include 'partials/content/form/step_1.twig' %}
        </div>
        <aside class="col-xs-12 col-lg-4">
            {% include 'partials/content/aside_content.twig' %}
        </aside>
    </div>
  </section>
  
  {% include 'partials/content/section__qna.twig' %}

{% endblock %}
