{% extends "layout/layout.twig" %}

{% block modals %}
	{% include 'partials/modals/add_overview.twig' with {stats: false, title: 'Tavi piedāvājumi'} %}
	{% include 'partials/modals/success.twig' with {stats: false, title: 'Tavi piedāvājumi'} %}
{% endblock %}

{% block page %}
	{% include 'partials/content/section_inner_banner.twig' with {stats: false, title: 'Tavi piedāvājumi'} %}
	
	<section class="section--basic bg--gray">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<a href="" class="btn btn--detailed is-active">
					Patēriņa kredīta pieteikums
					<p class="muted"><small>Derīgs līdz 25.12.2018</small></p>
				</a>
			</div>

			<div class="col-xs-12 col-md-6">
				<a href="" class="btn btn--detailed has-alert">
					Pārkreditācijas pieteikums
					<p class="muted"><small>Derīgs līdz 25.12.2018</small></p>
				</a>
			</div>
		</div>
	</section>

	<section class="section--basic bg--yellow">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-lg-9">
				<p>Bez bankas konta pārskata ir pieejami tikai aizdevumi ar paaugstinātu procentu likmi. Lūdzu pievienojiet Jūsu bankas konta pārskatu, lai papildinātu pieejamo piedāvājumu sarakstu!</p>
			</div>

			<div class="col-xs-12 col-md-4 col-lg-3">
				<div class="btn-group btn-group--right">
					<a data-open-modal="add-new-overview-modal" class="btn btn--yellow btn--gray-bd">Pievienot pārskatu</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section--offers section--spaced">
		<div class="row">
			<div class="col-md-12">
				<h3>Patēriņa kredīts</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-12">
				{% include 'partials/content/offers-item/item.twig' with {
					label: 'Iesakām',
				} %}
			</div>
			<div class="col-xs-12 col-md-6 col-lg-12">
				{% include 'partials/content/offers-item/item.twig' with {
					label: 'Iesakām',
				} %}
			</div>
			<div class="col-xs-12">
				{% include 'partials/content/offers-item/item.twig' with {
					pending: true, 
				} %}
			</div>
			<div class="col-xs-12">
				{% include 'partials/content/offers-item/item-double.twig' with {

				} %}
			</div>

			<div class="col-xs-12 col-md-6 col-lg-12">
				{% include 'partials/content/offers-item/item.twig' with {
					
				} %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-12">
				<br>
				<br>
				<h3>Aizdevēji, kuriem nepieciešama papildus informācija</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-12">
				{% include 'partials/content/offers-item/item.twig' with {
					moreinfo: true, 
				} %}
			</div>
			<div class="col-xs-12 col-md-6 col-lg-12">
				{% include 'partials/content/offers-item/item.twig' with {
					denied: true, 
				} %}
			</div>
		</div>
	</section>



{% endblock %}
