<div class="modal" id="add-new-overview-modal" >
    <div class="modal__backdrop" data-close></div>
    <div class="modal__contain">
        <button class="modal__close_btn" data-close aria-label="Close reveal" type="button">&times;</button>
        
        {# <div class="modal__header-image">
            <img src="/assets/img/modal-success.svg">
        </div> #}

        <div class="modal__title">
            <h3 class="icon-in-text">
                <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico-info"></svg>
                Pievienot bankas konta pārskatu.
            </h3>
        </div>
        
        <div class="modal__body">
            <p>Pēc Jūsu sniegtās informācijas redzam, ka Jums ir vairāki bankas konti.  Lai varētu piedāvāt labākos aizdevuma nosacījumus, lūdzam pievienot arī citu Jūsu izmantoto bankas kontu pārskatus (PDF faila formātā) par pēdējiem 6 mēnešiem, uzrādot visus ienākošos un izejošos maksājumus.</p>
            <br>
            {% include 'partials/content/form/field--file.twig' with {label:'Pievienojiet bankas konta pārskatu PDF formātā par periodu: XXXXX – XXXXX', hidelist: true} %}
        </div>

        {# <div class="modal__footer">
            <div class="btn-group btn-group--center">
                <a href="#" class="btn btn--yellow">Skatīt piedāvājumus</a>
            </div>            
        </div> #}
    </div>
</div>
